body {
    font-family: nunito;
    background-color: #282828;
    color: #ededed;
}

hr {
    border: 1px solid #be9f5c;
}

.images {
    width: 250px;
    height: 250px;
    margin: 20px;
}

input:focus-visible {
    outline: 2px solid #99b0df;
    border: 1px solid #c2b0a9;
}

.products-list {
    box-shadow: 0px 4px 4px #c4a667; /* White shadow */
}

.card, nav{
    background-color: #F8F5E6;
    border-radius: 20px;
}

.card-button {
    background-color: #c4a667;
}

.card-button:hover {
    background-color: #c49b5a;
}

button {
    margin: 10px;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 200px;
}

.text {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#price-limit {
    -moz-appearance: textfield; /* Firefox */
}

/* Hide the arrows in Chrome, Safari, and Edge */
#price-limit::-webkit-inner-spin-button,
#price-limit::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Edge */
}

#icon {
    color: #000;
    cursor: pointer;
}

#cover-image {
    animation: fadeIn;
    animation-duration: 5s;
}

#icon.clicked {
    color: #c4a667;
}